// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$primary: #73299e;
$secondary: #8f44ad;
$danger: red;

// Bootstrap
@import '~bootstrap/scss/bootstrap';